<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Order</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <header>
    <h1>Manage Order</h1>
  </header>
  <body>
    <div class="viewOrders">
      <div class="head">
        <h2>Create an order</h2>
      </div>
      <div class="body">
        <form action="">
          <label for="tableno">Table number</label>
          <input type="text" name="tableno" id="tableno" />
          <label for="menu1">Menu 1:</label>
          <select id="menu1" name="menu1">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label for="menu2">Menu 2:</label>
          <select id="menu2" name="menu2">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label for="menu3">Menu 3:</label>
          <select id="menu3" name="menu3">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label for="menu4">Menu 4:</label>
          <select id="menu4" name="menu4">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label for="menu5">Menu 5:</label>
          <select id="menu5" name="menu5">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <button type="submit">Create the order</button>
        </form>
      </div>
    </div>
  </body>
</html>
