<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Orders</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <header>
    <h1>Manage Order</h1>
  </header>
  <body>
    <div class="viewOrders">
      <div class="head">
        <h2>These are the orders</h2>

        <form action="">
          <input
            type="text"
            name=""
            id=""
            placeholder="Search an order ID here"
          />
          <button type="submit">Search</button>
          <button><a href="create.html">Create a new order</a></button>
        </form>
      </div>
      <div class="body">
        <div class="order">
          <h3>ORDER#1</h3>
          <p>Table number</p>
          <p>Order ID</p>
          <div class="table">
            <table>
              <tr>
                <th>Menu ID</th>
                <th>Name</th>
                <th>Quantity</th>
              </tr>
              <tr>
                <td>Row 1, Column 1</td>
                <td>Row 1, Column 2</td>
                <td>Row 1, Column 3</td>
              </tr>
              <tr>
                <td>Row 2, Column 1</td>
                <td>Row 2, Column 2</td>
                <td>Row 2, Column 3</td>
              </tr>
              <tr>
                <td>Row 2, Column 1</td>
                <td>Row 2, Column 2</td>
                <td>Row 2, Column 3</td>
              </tr>
              <tr>
                <td>Row 2, Column 1</td>
                <td>Row 2, Column 2</td>
                <td>Row 2, Column 3</td>
              </tr>
              <tr>
                <td>Row 2, Column 1</td>
                <td>Row 2, Column 2</td>
                <td>Row 2, Column 3</td>
              </tr>
            </table>
          </div>
          <p>Status : OPEN</p>
          <button>Close</button>
          <button>Update</button>
          <button>Delete</button>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <p>Group BLUE</p>
  </footer>
</html>
